.features {
  padding-bottom: 60px;
  padding-top: 60px;

  @include desctop{
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.features__items {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desctop{
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features__box-svg {
  border-radius: 4px;
  background-color: $second-bg-color;

  margin-bottom: 30px;
  @extend %flex-center;
  padding: 25px 0;
}

.features__subject {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: $title-color;

  margin-bottom: 10px;
}

.features__description{
  line-height: 1.17;
}

