.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
  margin-top: auto;
}

.footer-box {
  display: flex;
  gap: 60px;
  flex-direction: column;

  @include desctop{
    flex-direction: row;
    justify-content: space-between;
    gap: 93px;
  }
}

.footer__tablet-box{
  display: flex;
  gap: 70px;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
    justify-content:space-around ;
  }
  
}