.footer-contact {
  text-align: center;
}

.footer-contact__address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contact__item {
  line-height: 1.71;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:first-child {
    color: $bg-color;
  }
}

.footer-contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $bg-color;
  }
}
