.contact {
  display: none;

  @include tablet {
    flex-direction: column;
    display: flex;
    justify-content: left;
  }

  @include desctop {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
}

.contact__item {
  @extend %flex-center;
  justify-content: left;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  @include desctop {
    font-size: 14px;
    line-height: calc(16 / 14);

    &:first-child {
      margin-right: 30px;
    }
  }
}

.contact__link {
  @extend %flex-center;

  transition: color 250ms ease-in-out;
  &:focus,
  &:hover {
    color: $accent-color;
  }

  @include tablet {
    .contact__item:first-child & {
      padding-top: 21px;
      padding-bottom: 5px;
    }

    .contact__item:last-child & {
      padding-top: 5px;
      padding-bottom: 21px;
    }
  }

  @include desctop {
    .contact__item:nth-child(-n + 2) & {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.contact__svg {
  margin-right: 8px;

  transition: fill 250ms ease-in-out;
  .contact__link:focus &,
  .contact__link:hover & {
    fill: $accent-color;
  }
}
