.header {
  border-bottom: 1px solid #ececec;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desctop {
    justify-content:start ;
  }
}

.header__button {
  background-color:transparent ;
  @extend %flex-center;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;

  transition: fill 250ms ease-in-out;
  &:focus,
  &:hover {
    fill: $accent-color;
  }

  @include tablet {
    display: none;
  }
}
